/* significa @font-face kit */

@font-face {
  font-family: 'Significa Sans';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src:
    url('../assets/fonts/significa/significa-regular.woff2') format('woff'),
    url('../assets/fonts/significa/significa-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Significa Sans';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src:
    url('../assets/fonts/significa/significa-medium.woff2') format('woff'),
    url('../assets/fonts/significa/significa-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Significa Sans';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    url('../assets/fonts/significa/significa-semibold.woff2') format('woff'),
    url('../assets/fonts/significa/significa-semibold.ttf') format('truetype');
}
