.pagination {
  &-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .page {
    &-link {
    }

    &-item {
      &.active {
        .page-link {
          color: color(black);
        }
      }

      &.disabled {
        cursor: not-allowed;
        .page-link {
          color: color(dark);
        }
      }
    }
  }
}
